
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/style.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
    integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <title>home page</title>
</head>

<body>
  {{>navbar loginLogoName=loginLogoName}}
  <section class="adminVideoUpdate-section">
  
        <a href="/adminUpdate" for="button" class="btn backArrow-anchor"><</a>
        
        {{!-- first admin manage coloum --}}
        <div class="container">
          
        <div class="row">
            <div class="col-md-6 m-auto">
                
            
                <h1 class="text-center display-4 my-4">upload</h1>
                <iframe style="display:none ;"></iframe>
                <form onsubmit="this.submit(); this.reset(); return false;"  name="vd" action="/adminVideoUpload" method="post" enctype="multipart/form-data">
                
                

                <label  class="form-label">enter title</label>
                <input name="title" type="text" class="form-control"  required>

                <label  class="form-label">enter file description</label>
                <input name="description" type="text" class="form-control"   required>

                <label for="contactNumberField" class="form-label">enter video no after that it will display(less than total video no and greater than 1 otherwise it will be placed at last)</label>
                <input name="afterVideoNo" type="Number" class="form-control " id="contactNumberField"  required>

               
                 
                    <label for="file" class="form-label chooseFile-label">upload video(size 200x320)</label>
                    <input type="file" accept="video/*" name="videoFile"  class="custome-file-input" onfocus="this.value=''" required >
                    <label for="file" class="form-label chooseFile-label">upload video's thumbnail</label>
                    <input type="file" accept="image/*" name="imageFile"  class="custome-file-input" required >
                    <label for="file" class="form-label chooseFile-label">upload files related with this video(optional)</label>
                    <input type="file" accept="file_extension" name="txtFile" class="custome-file-input" multiple>
                    
                    <button  id="upload-button"  class="btn btn-primary btn-block" type="submit" onwaiting="fn()">
                      upload
                      
                    </button>


                     <script>
                      function fn(){
                      
                            document.getElementById("upload-button").innerHTML="uploading...";  
                      }
                    </script>
                     
                     
                </form>
                
            </div>
        </div>
        </section>
  <section id="services-section" class="py-3">
    <div class="container">

      <h1 class="text-center text-secondary">videos</h1>
      <div id="total-video-number-div">
      <h2 id="videosLength-h2">{{videosLength}}</h2>
      <h4>videos</h4>
      </div>
      <div class="row mt-3" id="card-clone-source">
        <div class="col-md-4" id="new-video-div" hidden>
          <div class="card my-3">
            <div class="card-body" >
              

              {{!-- <div class="container service-icon text-center py-3">
                <i class="{{this.icon}} text-secondary"></i>
              </div> --}}
              
              <div class="thumbnail-title-div">
                  <h4 class="video-card-number">number</h4>
                  <h3 class="video-card-title">title</h3>
                  <div class="thumbnail-image-div">
                    
                    <img class="thumbnail-image-image" src="#" alt="#">
                    
                  </div>
              
                  <p class="video-card-description">description</p>
              </div>
              <a class="btn btn-primary video-watch-anchor" href="/playVideo" role="button">watch</a>
              <a class="btn btn-danger video-delete-anchor" href="#" role="button">delete</a>
              <a class="btn btn-light video-download-anchor" href="#" role="button">|</a>

              

            </div>
          </div>
        </div>
        {{!-- {{/each}} --}}
        {{!-- first service coloum --}}

      </div>
    </div>
  
  
  </section>
        
    

<script>
    var videos={{{videosInformation}}};
  var a=document.getElementById("videosLength-h2").innerHTML;
    for(i=0;i<a;i++){
      var original = document.getElementById("new-video-div");
      var clone = original.cloneNode(true);
      clone.removeAttribute("id");
      
      document.getElementById("card-clone-source").appendChild(clone);
      clone.removeAttribute("hidden");
      
      clone.id=i+1;

      document.getElementsByClassName("video-card-number")[i+1].innerHTML=i+1;

      document.getElementsByClassName("video-card-title")[i+1].innerHTML=videos[i].title;
  
      document.getElementsByClassName("video-card-description")[i+1].innerHTML=videos[i].description;
      var thumbnailSrc="/thumbnail/"+(i+1);
      document.getElementsByClassName("thumbnail-image-image")[i+1].setAttribute("src",thumbnailSrc);
      var videoWatchSrc="/watch-video/"+(i+1);
      document.getElementsByClassName("video-watch-anchor")[i+1].setAttribute("href",videoWatchSrc);
      var videoDeleteSrc="/delete-video/"+(i+1);
      document.getElementsByClassName("video-delete-anchor")[i+1].setAttribute("href",videoDeleteSrc);
      var videoDownloadSrc="/download-video/"+(i+1);
      document.getElementsByClassName("video-download-anchor")[i+1].setAttribute("href",videoDownloadSrc);
    
    
    }

   </script>
  
  
    


  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</body>

</html>