<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="db"></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ab, odio, earum repudiandae voluptatum obcaecati sunt reiciendis similique itaque accusamus enim quae dolores, nisi illum. Dolorem exercitationem sapiente ullam deserunt.</p>
    <h1 id="demo" style="color: green;">{{success}}</h1>

    
                
                     <script>
                          setInterval(function(){
                              document.getElementById("demo").innerHTML="";
                          },2000);
                          

                     </script>
                     
    
</body>
</html>